<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amvlabs.kotlinsamples">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinSamples">
        <activity
            android:name=".viewpagersample.WalkThroughActivity"
            android:exported="false" />

        <activity
            android:name=".fragmentsample.FragmentSampleActivity"
            android:exported="false" />
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".imageexam.ImageExamActivity"
            android:exported="false" />
        <activity
            android:name=".pickets.DobCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".pickets.ExamplePickerActivity"
            android:exported="false" />
        <activity
            android:name=".menus.PopMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".LifeActivity"
            android:exported="false" />
        <activity
            android:name=".LifeCycleActivity"
            android:exported="true" />
        <activity
            android:name=".SampleActivity"
            android:exported="false" />
        <activity
            android:name=".OnBoardingActivity"
            android:exported="true"
            android:theme="@style/Theme.KotlinSamples.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>